
body {
    min-width: 1000px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header {
    padding: 25px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.link-wrapper a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.link-wrapper {
display: flex;
align-items: center;
gap: 10px;
    
}

.section-1 {
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.section-1 img {
    width: 500px;
    height: 350px;
    border-radius: 15px;
}

.subsection-1{
    display: flex;
    flex-direction: column;
    min-width: 550px;
    max-width: 650px;

}


.subsection-1 .h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.subsection-1 p {
    color: #E5E7EB;
    font-size: 18px;
}